<div
  class="bg-light position-absolute p-5"
  style="height: 300px; top: 1350px; width: 100%; z-index: -100"
>
  <div class="d-flex justify-content-center">
    <div class="position-absolute w-75">
      <p>Are you already helping people?</p>
      <p>
        In case that you have already signed up as a helper, please download our
        applications below so you can provide better and faster help to those
        who need it. And if not, you can still do it from our platform or the
        applications Help and be helped!
      </p>

      <div class="d-flex">
        <button class="btn bg-danger mr-2 px-5 py-2 text-white">ANDROID</button>
        <button class="btn bg-danger mr-2 px-5 py-2 text-white">IOS</button>
      </div>
    </div>
  </div>
</div>
