@mixin section-base() {
    border: 0.5px solid black;
    margin: 1rem;
    padding: 0.5rem;
}

.btn{
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
    &:hover{
     cursor: pointer;
    }
    background-color: rgb(18, 18, 131);
    color: white;
}

.card{
    padding: 0.5rem;
    border: 0.5px solid black;
    width: 30rem;
    margin: auto;
}

.add-section{
    @include section-base();
}

.show-section{
    @include section-base();
}

.hide{
    display: none;
}