<div class="position-absolute p-5" style="height: 400px;top:925px;width: 100%;z-index:-100;">
    <br>
    <div class="d-flex flex-row h-100">
        <div class="w-50 align-self-center">
            <p>How does it all work?</p>
            <div class="m-2">
                <button class="btn bg-white border border-dark p-3" style="width: 23rem; font-size: small;">FOR PEOPLE WHO NEED HELP
                </button>
            </div>
            <div class="m-2">
                <button class="btn bg-white border border-dark p-3" style="width: 23rem; font-size: small;">FOR PEOPLE WHO PROVIDE HELP
                </button>
            </div>
            <div class="m-2 ">
                <button class="btn bg-white border border-dark p-3" style="width: 23rem; font-size: small;">FOR SHOP OWNERS
                </button>
            </div>
        </div>
        <div class="w-50 align-self-center">
            <p>
                The first question we always get is, why would anybody want to spend time and help other people? Well first, you could think of SwiftViews as a helping platform, but also as a way to create a personal inventory and keep track of all your purchases by simply pasting the url of your product in a popup.
            </p>
        </div>
    </div>
    
</div>
