.box{
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: red;
    color: white;
    &:hover{
     cursor: pointer;
    }
    margin-left: 2.5rem;
}

