<div>
  <img
    style="width: 100%; height: 425px"
    class="position-absolute"
    src="../../assets/img/auth-background.d98d7ff313fe2ec07d45.png"
  />
  <div class="d-flex justify-content-center">
    <div class="position-absolute w-75" style="top: 100px">
        <p class="text-white">
          We are a community based help service! 
        </p>
        <p  class="text-white">
            Our product solves the problem with
          the lack of fast, context-specific and most importantly - untampered help
          out there. We solve that problem for our users by providing them an
          instant and specific help from people that may have already walked the
          same path and bought the same product. 
        </p>
        <p class="text-white">
            So next time, when you visit a site
          and you can't find a review or an answer that satisfies your information
          needs, you can open up our chat widget and ask a non-formal question to
          one of our helpers.
        </p>

        <div class="d-flex">
            <button class="btn bg-white mr-2 px-5 py-2" style="color: red;">TRY IT FREE</button>
            <button class="btn bg-danger mr-2 px-5 py-2 text-white">SIGN UP</button>
        </div>
      </div>
      <div class="position-absolute w-75" style="top: 400px">
        <input type="text" class="form-control p-4" placeholder="Search for any product you need help for" aria-label="Recipient's username" aria-describedby="basic-addon2">
      </div>
   </div>
</div>